@import url('https://fonts.googleapis.com/css?family=Poppins:700|Roboto%20Flex:400');
:root {
  --border-radius: 1ch /0.9ch;
  --font-size-H: 3.053rem;
  --font-size-XL: 2.442rem;
  --font-size-L: 1.954rem;
  --font-size-M: 1.563rem;
  --font-size-S: 1.25rem;
}

body {
  font-family: 'Roboto Flex';
  font-weight: 400;
  line-height: 1.4em;
}

h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
  width: 25ch;
  font-size: var(--font-size-L);
  font-family: 'Poppins';
  font-weight: 700;
  color: var(--text);
  margin: 0px;
  line-height: 1em;
}

html {
  font-size: 100%;
} /* 16px */

.font-size-H {
  font-size: var(--font-size-H);
}

.font-size-XL {
  font-size: var(--font-size-XL);
}

.font-size-L {
  font-size: var(--font-size-L);
}

.font-size-M {
  font-size: var(--font-size-M);
}

.font-size-S {
  font-size: var(--font-size-S);
}

small {
  font-size: 0.8rem; /* 12.8px */
}
@media (prefers-color-scheme: light) {
  :root {
    --text: #070609;

    --background: #f5f3f7;

    --dark: var(--text);
    --light: var(--background);

    --primary-hue: 268;
    --primary-sat: 57%;
    --primary: hsl(var(--primary-hue), var(--primary-sat), 59%);
    --primary-100: hsl(var(--primary-hue), var(--primary-sat), 70%);
    --primary-500: var(--primary);
    --primary-900: hsl(var(--primary-hue), var(--primary-sat), 30%);

    --secondary-hue: 165;
    --secondary-sat: 60%;
    --secondary: hsl(var(--secondary-hue), var(--secondary-sat), 62%);
    --secondary-100: hsl(var(--secondary-hue), var(--secondary-sat), 80%);
    --secondary-500: var(--secondary);
    --secondary-900: hsl(var(--secondary-hue), var(--secondary-sat), 20%);

    --accent-hue: 45;
    --accent-sat: 97%;
    --accent: hsl(var(--accent-hue), var(--accent-sat), 46%);
    --accent-100: hsl(var(--accent-hue), var(--accent-sat), 70%);
    --accent-500: var(--accent);
    --accent-900: hsl(var(--accent-hue), var(--accent-sat), 30%);

    --text-accent: color-mix(in srgb, var(--light), var(--accent-500) 70%);
    --text-alt: color-mix(in srgb, var(--dark) 10%, var(--primary-500) 70%);
    --background-accent: color-mix(in srgb, var(--light) 70%, var(--accent-500) 30%);
    --background-alt: color-mix(in srgb, var(--light) 70%, var(--primary-500) 30%);

    --background-100: color-mix(in srgb, var(--background), var(--dark) 5%);
    --background-900: color-mix(in srgb, var(--background), var(--dark) 20%);
  }

  ::-moz-selection {
    color: var(--light);
    background: var(--primary-100);
  }

  ::selection {
    color: var(--light);
    background: var(--primary-100);
  }
  code {
    background: var(--dark);

    &::selection {
      background-color: var(--accent-500);
      color: var(--dark);
    }
  }
  a {
    color: var(--primary);
  }
  em {
    oolor: var(--accent);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #f7f6f9;

    --background: #15111a;

    --light: var(--text);
    --dark: var(--background);

    --primary-hue: 268;
    --primary-sat: 57%;
    --primary: hsl(var(--primary-hue), var(--primary-sat), 41%);
    --primary-100: hsl(var(--primary-hue), var(--primary-sat), 70%);
    --primary-500: var(--primary);
    --primary-900: hsl(var(--primary-hue), var(--primary-sat), 30%);

    --secondary-hue: 165;
    --secondary-sat: 60%;
    --secondary: hsl(var(--secondary-hue), var(--secondary-sat), 38%);
    --secondary-100: hsl(var(--secondary-hue), var(--secondary-sat), 80%);
    --secondary-500: var(--secondary);
    --secondary-900: hsl(var(--secondary-hue), var(--secondary-sat), 20%);

    --accent-hue: 45;
    --accent-sat: 97%;
    --accent: hsl(var(--accent-hue), var(--accent-sat), 54%);
    --accent-100: hsl(var(--accent-hue), var(--accent-sat), 70%);
    --accent-500: var(--accent);
    --accent-900: hsl(var(--accent-hue), var(--accent-sat), 30%);

    --text-accent: color-mix(in srgb, var(--light), var(--accent-500) 70%);
    --text-alt: color-mix(in srgb, var(--dark) 30%, var(--primary-500) 70%);

    --background-accent: hsl(var(--accent-hue), var(--accent-sat), 30%);
    --background-alt: hsl(var(--primary-hue), var(--primary-sat), 30%);
    --background-100: color-mix(in srgb, var(--background) 80%, var(--light) 20%);
    --background-900: color-mix(in srgb, var(--background) 95%, var(--light) 5%);
  }

  ::-moz-selection {
    background: var(--primary-100);
  }

  ::selection {
    background: var(--primary-100);
  }
  code {
    background-color: var(--background-alt);
    &::selection {
      background-color: var(--accent-500);
      color: var(--background-alt);
    }
  }
  a {
    color: var(--accent);
  }
}
em {
  color: var(--primary);
  font-weight: bold;
}
a[target='_blank']::after {
  content: '';
  display: inline-block;
  background-color: currentColor;
  width: 15px;
  height: 15px;
  margin-inline-start: 0.5ch;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960'%3E%3Cpath fill='blue' d='M220-153q-27.637 0-47.319-19.681Q153-192.363 153-220v-520q0-27.638 19.681-47.319Q192.363-807 220-807h257v67H220v520h520v-257h67v257q0 27.637-19.681 47.319Q767.638-153 740-153H220Zm168.5-188L341-388.5 692.5-740H568v-67h239v239h-67v-124.5L388.5-341Z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960'%3E%3Cpath fill='blue' d='M220-153q-27.637 0-47.319-19.681Q153-192.363 153-220v-520q0-27.638 19.681-47.319Q192.363-807 220-807h257v67H220v520h520v-257h67v257q0 27.637-19.681 47.319Q767.638-153 740-153H220Zm168.5-188L341-388.5 692.5-740H568v-67h239v239h-67v-124.5L388.5-341Z'/%3E%3C/svg%3E");
}
