button,
.button,
.btn,
[type='button'] {
	appearance: none;
	font-size: 1rem;
	display: inline-block;
	cursor: pointer;
	background-color: var(--color-background__inv);
	color: var(--color-text__inv);
	padding-inline: var(--padding-inline);
	padding-block: var(--padding-block);
	border: 1px solid var(--color-background__inv);
	border-radius: var(--border-radius);
	text-decoration: none;
	line-height: 1.5rem;
}

:is(button, .button, [type='button'])[reset] {
	background-color: var(--color-background);
	color: var(--color-text);
}
:is(button, .button, [type='button'])[disabled] {
	background-color: var(--mid);
	border-color: var(--mid);
	cursor: no-drop;
}
[icon] {
	font-family: 'Material Symbols Outlined';
	font-size: 1.2em;
}
.imgbtn {
	width: 2rem;
	border-radius: 100vw;
	width: max-content;
	height: fit-content;
	display: inline-block;
}
