button,
.button,
.btn,
[type='button'] {
	appearance: none;
	font-size: 1rem;
	display: inline-block;
	cursor: pointer;
	background-color: var(--color-background__inv);
	color: var(--color-text__inv);
	padding-inline: var(--padding-inline);
	padding-block: var(--padding-block);
	border: 1px solid var(--color-background__inv);
	border-radius: var(--border-radius);
	text-decoration: none;
}

:is(button, .button, [type='button'])[reset] {
	background-color: var(--color-background);
	color: var(--color-text);
}
:is(button, .button, [type='button'])[disabled] {
	background-color: var(--mid);
	border-color: var(--mid);
	cursor: no-drop;
}
[icon] {
	font-family: 'Material Symbols Outlined';
}

:is(button, .button, .btn):hover {
	color: var(--color-text);
	background-color: var(--color-background);
	&[icon] {
		font-weight: bold;
	}
}

.linked-start {
	border-top-right-radius: unset !important;
	border-bottom-right-radius: unset !important;
}
.linked-middle {
	border-radius: unset !important;
}
.linked-end {
	border-top-left-radius: unset !important;
	border-bottom-left-radius: unset !important;
}
/* :is(input[type='text'], input[type='url'], input[type='number'])
	+ :is(button, .button, [type='button']) {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
} */
