/* input,
.input,
select,
.multiselect__tags {
  .multiselect__select input {
    border: 0;
    color: inherit;
    padding: 0;
  }
  white-space: nowrap;
  overflow: hidden;
  display: inline;
  font-size: 1rem;
  border: 1px solid var(--primary-500);
  border-radius: var(--border-radius);
  padding: 1ch 2ch;
  background: var(--background);
  color: var(--text);


  &[type='number'] {
    -moz-appearance: textfield;
  }
  &[type='number']::-webkit-outer-spin-button,
  &[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  &:is(button + &) {
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
    border-inline-start-width: 0px;
  }
  &:has(+ button) {
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
    border-inline-end-width: 0px;
  }
  & * {
    display: inline;
    white-space: nowrap;
  }
}
.width-2 {
  width: 6ch;
}
.width-10 {
  width: 18ch;
}
.multiselect__select {
  width: max-content;
} */
