@import url(./root/theme.css);
@import url(./modules/btn.css);
@import url(./modules/checkbox.css);
@import url(./modules/multi_select.css);
@import url(./modules/input.css);
* {
	box-sizing: border-box;
}
body {
	min-height: 100vh;
}
main {
	margin-inline: auto;
}

body {
	padding: 2ch; /* Assuming your padding value here */
}

main {
	max-width: 1000px;
	width: 80vw;
	margin: 0 auto; /* Center the main content horizontally */
}

@media (max-width: 1250px) {
	main {
		width: calc(100% - 4ch); /* Adjust the width to account for body padding */
	}
}

code {
	font-family: monospace;
	font-size: 1rem;
	padding: 5px;
	border-radius: var(--border-radius);
}

dialog {
	background-color: var(--color-background);
	border: none;
	border-radius: var(--border-radius);
	color: var(--text);
	&::backdrop {
		background: rgba(0, 0, 0, 0);
		backdrop-filter: blur(6px);
	}
}
.tiptap {
	padding: 1ch;
	& *:first-child {
		margin-top: 0px;
	}
	& *:last-child {
		margin-bottom: 0px;
	}
	&:focus {
		outline: none;
	}
}
.tiptap p.is-editor-empty:first-child::before {
	color: var(--mid);
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}
