@import url(./root/theme.css);
@import url(./modules/btn.css);
@import url(./modules/checkbox.css);
@import url(./modules/input.css);
* {
  box-sizing: border-box;
}
body {
  color: var(--text);
  background-color: var(--background);
  min-height: 100vh;
}
code {
  font-family: monospace;
  font-size: 1rem;
  padding: 5px;
  border-radius: var(--border-radius);
  color: var(--accent);
}

dialog {
  background-color: color-mix(in srgb, var(--background-alt), transparent 50%);
  border: none;
  border-radius: var(--border-radius);
  color: var(--text);
  &::backdrop {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
  }
}
